In [2]:
%load_ext google.cloud.bigquery

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information form over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 11 years ago. So if today is 2021.02.15 then the weather we want to forecast is for the date 2010.02.16. You are suppsed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to used BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is, to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck at the first part, you can use the replacement data provided in the second part

In [3]:
%%bigquery 
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,39730,99999,1929,11,25,49.000000,4,40.200001,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
1,726810,24131,1931,7,27,84.599998,24,44.400002,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
2,726810,24131,1931,3,30,41.500000,24,31.200001,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
3,726810,24131,1931,12,20,27.700001,24,24.100000,8.0,NaN,...,NaN,None,NaN,NaN,True,True,True,True,True,True
4,726810,24131,1931,10,17,56.900002,24,32.099998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
5,33960,99999,1932,8,18,65.300003,4,63.200001,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
6,726815,24106,1932,6,9,61.000000,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
7,726815,24106,1932,7,10,82.000000,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
8,726810,24131,1932,11,20,39.400002,24,38.000000,8.0,NaN,...,NaN,None,0.0,NaN,True,True,True,True,True,True
9,726815,24106,1932,1,31,26.299999,24,NaN,NaN,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
10,726815,24106,1932,1,17,16.700001,24,NaN,NaN,NaN,...,NaN,None,NaN,NaN,True,True,True,True,True,True
11,726815,24106,1932,2,22,27.400000,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
12,726815,24106,1932,6,30,79.800003,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
13,726815,24106,1932,5,29,55.299999,24,NaN,NaN,NaN,...,NaN,None,NaN,NaN,True,True,True,True,True,True
14,726815,24106,1932,8,3,75.699997,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
15,726815,24106,1932,5,7,56.200001,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
16,370310,99999,1933,6,28,63.200001,4,NaN,NaN,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
17,370310,99999,1933,4,8,42.000000,4,NaN,NaN,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
18,349290,99999,1933,9,1,70.500000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
19,361770,99999,1933,8,15,58.500000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2005 till 2010 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

### 2. Task 
From here want to work with the data from all stations 725300 to 725330 that have information from 2005 till 2010.

Do a first analysis of the remaining dataset, clean or drop data depending on how you see appropriate.

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for is the following, and hence should constitute your test set.

In [28]:
import datetime, timedelta

str(datetime.datetime.today()- datetime.timedelta(days=11*365)).split(' ')[0]

'2010-02-19'

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an Algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [29]:
import datetime, timedelta

str(datetime.datetime.today()- datetime.timedelta(days=11*365)).split(' ')[0]

'2010-02-19'

You are allowed to use any library you are comfortable with such as sklearn, tensorflow keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.